@font-face {
    font-family: 'rcr';
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: 'rr';
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'vk';
    src: url(../fonts/Vollkorn-Regular.ttf);
}